@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

.header {
    width: 100%;
    padding: 40px 0;
    /* background-color: #eee; */
    font-size: 0;
    text-align: center;
}

.header .logo {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.header .logo .block{
    width: 100px;
    display: inline-block;
}

.header .logo .block img {
    width: 100%;
    opacity: .8;
}

.header .logo p {
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    color:  rgb(63, 63, 63);
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

@media(max-width: 450px) {
    .header .logo .block{
        width: 80px;
    }
}

/* ----------------------------------------------------------------------------------------------- */

.seperator{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
}

.tagLine {
    width: 100%;
    padding: 80px 60px;
}

.tagLine p {
    font-size: 16px;
    color: rgb(80, 80, 80);
}

.tagLine p span {
    color: rgb(63, 63, 63);
    font-weight: 500;
}

@media(max-width: 450px) {
    .tagLine {
        padding: 50px 20px;
    }
    .tagLine p {
        font-size: 14px;
        line-height: 25px;
    }
}

/* ----------------------------------------------------------------------------------------------- */

.books {
    width: 100%;
    padding: 0 50px;
    font-size: 0;
    text-align: center;
}

.books .book {
    display: inline-block;
    width: 280px;
    height: 500px;
    margin: 15px;
}

.books .book .cover {
    width: 100%;
    height: 75%;
    background: linear-gradient(to bottom,#eee,rgb(250, 250, 250),#eee);
    position: relative;
}

.books .book .cover:hover {
    cursor: pointer;
}

.books .book .cover .block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    box-shadow: 0 4px 25px rgba(0,0,0,.3);
}

.books .book .cover .block .front {
    width: 100%;
}

.books .book .cover .block .back {
    width: 100%;
    display: none;
}

.books .book .cover:hover .block .front {
    display: none;
}

.books .book .cover:hover .block .back {
    display: block;
}

.books .book .cover .likes {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    display: flex;
    height: 40px;
}

.books .book .cover .likes p {
    color: rgb(63, 63, 63);
    font-size: 18px;
    padding: 0 3px;
}

.books .book .cover .likes .heart {
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.books .book .content {
    width: 100%;
    height: 25%;
    padding: 10px 30px;
    text-align: center;
    overflow: hidden;
}

.books .book .content p {
    color: #000;
    font-size: 15.5px;
    margin-top: 8px;
    line-height: 20px;
}

@media(max-width: 450px) {
    .books {
        padding: 0;
    }
    .books .book {
        width: 160px;
        height: 330px;
        margin: 5px;
    }
    .books .book .cover {
        height: 70%;
    }
    .books .book .cover .block {
        width: 75%;
        box-shadow: 0 3px 12px rgba(0,0,0,.2);
    }
    .books .book .cover:hover .block .front {
        display: block;
    }
    .books .book .cover:hover .block .back {
        display: none;
    }
    .books .book .cover .likes {
        padding: 5px 10px;
        height: 25px;
    }
    .books .book .cover .likes p {
        font-size: 13px;
        padding: 0 3px;
    }
    .books .book .content {
        padding: 10px 0px;
        height: 30%;
    }
    .books .book .content p {
        font-size: 13px;
        margin-top: 8px;
        line-height: 20px;
    }
}

/* ----------------------------------------------------------------------------------------------- */

.wall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: .9;
    display: none;
}

.wall.active {
    display: block;
}

.details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    height: 80vh;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 100px rgba(0,0,0,.2);
    font-size: 0;
    display: none;
}

.details.active {
    display: block;
}

.details .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 25px;
    color: rgb(63, 63, 63);
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
    cursor: pointer;
    transition: .2s;
}

.details .close:hover {
    text-shadow: 0 3px 5px rgba(0,0,0,.2);
    transform: translateY(-2px);
}

.details .left {
    display: inline-block;
    height: 100%;
    width: 30%;
    overflow: hidden;
    background-color: #eee;
}

.details .left .block {
    width: 90%;
    margin: 80px auto 0 auto;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

.details .left .block img {
    width: 100%;
}

.details .left .uploaded {
    font-size: 16px;
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 30px 20px;
}

.details .right {
    display: inline-block;
    height: 100%;
    width: 70%;
    overflow: hidden;
    padding: 80px 0 50px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.details .right::-webkit-scrollbar {
    display: none;
}

.details .right .title {
    padding: 20px;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.details .right .likes {
    display: flex;
    height: 40px;
    padding-left: 20px;
    color: rgb(63, 63, 63);
}

.details .right .likes p {
    font-size: 20px;
    padding: 4px;
    color: rgb(63, 63, 63);
}

.details .right .description {
    padding: 20px;
    font-size: 17px;
}

.details .right .download {
    margin: 20px;
    width: 180px;
    height: 40px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    font-size: 0;
    cursor: pointer;
    transition: .2s;
}

.details .right .download:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    transform: translateY(-2px);
}

.details .right .download .icon {
    display: inline-block;
    overflow: hidden;
    width: 20%;
    height: 100%;
    font-size: 30px;
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 3px;
    border-right: 1px solid rgb(200, 200, 200);
}

.details .right .download .text {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 10px;
}