@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* background-color: #1a1a1a; */
    border: 1px solid #1a1a1a;
}

.header {
    width: 100%;
    height: 85vh;
    background-color: #eee;
    background: linear-gradient(to top right,rgb(0, 10, 22),rgba(0,0,0,.4)), url("./../images/HomeBG1.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.header .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 10px;
}

.header .banner .text {
    width: 100%;
    padding: 15px 0;
}

.header .banner .text h1 {
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.header .banner .search {
    width: 100%;
    height: 55px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    font-size: 0;
    overflow: hidden;
}

.header .banner .search .search-bar {
    display: inline-block;
    height: 100%;
    width: 90%;
    background-color: transparent;
    overflow: hidden;
    padding: 17px;
}

.header .banner .search .search-bar .search-book {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgb(63,63,63);
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.header .banner .search .icon {
    display: inline-block;
    height: 100%;
    width: 10%;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}

.header .banner .search .icon p {
    line-height: 55px;
    font-size: 20px;
    color: rgb(63,63,63);
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

.header .banner .suggestion {
    width: 100%;
    padding: 15px 0;
}

.header .banner .suggestion p {
    font-size: 15px;
    color: rgba(255, 255, 255, .6);
    font-family: 'Quicksand', sans-serif;
}

.header .banner .suggestion p .bright {
    color: rgba(255, 255, 255, .9);
}

@media(max-width: 450px) {
    .header {
        max-height: 500px;
    }
    .header .banner {
        width: 90%;
        padding: 0px;
    }
    .header .banner .search .search-bar {
        width: 80%;
        padding: 15px;
    }
    .header .banner .search .icon {
        width: 20%;
    }
}

/* ----------------------------------------------------------------------------------------------- */