@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 1000px;
}